.sunglasses_4 {
    height: 40px;
    width: 40px;
    background-color: rgba(148, 144, 144, 0.253);
    border-radius: 50%;
}

.no_sunglasses {
    position: relative;
    bottom: 3px;
}

.black_p4 {
    font-size: 18px;
    position: relative;
    left: 55px;
    bottom: 35px;
}

.black_p24 {
    color: rgb(110, 103, 93);
    position: relative;
    left: 60px;
    top: 3px;
}

.man_r124 {
    height: 20px;
    width: 20px;
    margin-left: 190px;
    position: relative;
    bottom: 75px;
    left: 80px;
}

.row_4 {
    font-size: 15px;
    background-color: rgba(148, 144, 144, 0.253);
    height: auto;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    left: 50px;
    top: 150px;
}

.row_41 {
    position: relative;
    bottom: 140px;
    right: 50px;
}
.man41{
  width: 300px;
  height: 60px;
  font-size: 20px;
  font-weight:700;
  border:1px solid black;
  border-radius: 10px;
  padding: 13px 15px;
  margin: 10px;
}

.row_4:hover {
    background-color: rgba(148, 144, 144, 0.534);
}

.p4 {
    font-weight: 500;
    color: rgb(114, 111, 111);
    position: relative;
    top: 5px;
}
.Nav_Head_4{
    margin-bottom: 50px;
}
.row_42 {
    height: 87px;
    background-color: rgba(148, 144, 144, 0.534);
}

.btn_b4 {
    border: 1px solid #333;
    padding: 10px 15px;
    margin: 10px;
    width: 300px;
    height: 45px;
    border-radius: 50px !important;
    font-weight: 700;
    position: relative;
    top: 15px;
}

.btn_n4 {
    border: none;
    background-color: black;
    color: white;
    padding: 10px 15px;
    margin: 10px;
    width: 300px;
    height: 45px;
    border-radius: 50px !important;
    font-weight: 700;
    position: relative;
    top: 15px;
}
