.btn-close2{
    position: relative;
    bottom: 50px;
    left: 1800px;
}
.Close_Icon{
    height: auto;
    width: auto;
    color: black;
    margin-left: 1000px;
    position: relative;
    bottom: 50px;
}